
.ant-select-selection {
  border-color: #6e7f8d;
  background-color: #6e7f8d;
}

.ant-select-arrow {
  color: inherit;
}

.numa {
  border-color: #6e7f8d;
  background-color: #6e7f8d;
}

.ant-select-dropdown-menu-item {
  color: #6e7f8d !important
}